<!-- views/show.ejs -->

<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
  <h1>Welcome to the <%= item.name %> page!</h1>
  <p>There <%= item.qty === 1 ? "is" : "are" %> <%= item.qty %> left.</p>
</body>
</html>
